html, body {
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 70px 0 70px;
    flex:1;
}

.header{
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    gap:40%;
}


.list{
    display: flex;
    flex:1;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main{
    display: flex;
    flex: 1 1 25%;
    justify-content: space-evenly;
    padding: 50px 0 100px 0;
    gap: 5%;

}

.main1 {
    color: #E5E7EB;
    flex: 1 1 25%;  
}

.main-text{
    size: 48px;
}

.button{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 0.5em;
    width: 15%;
    border: none;
}

.main-title h3{
    font-size: 48px;
}

.main2{
    background-color: #E5E7EB;
    text-align: center;
    flex: 1 1 25%
}

.body{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0 10% 10% 10%;
}

.body > h3 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.blue-boxes{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    gap:5%;
}

.blue-boxes > div {
   display: flex;
   flex-direction: column;
   flex: 1 1 200px;
}

.blue-boxes > div > div {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 0.5em;
    height: 10rem;
    width: 100%;
}

.quote{
    background-color: #E5E7EB;
}
.buttons{
    background-color: white;
}
.footer{
    background-color: #1F2937;
}